{% extends 'layout.html.twig' %}

{% block stylesheet %} <link rel="stylesheet" href="/assets/css/list.css">{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    {% include 'Partials/filter.html.twig' %}
        <div class="container ">
            <div class="row justify-content-around">
                {% for manga in mangas %}
                    <div class="col-5 card mb-3 mr-3 pr-3" style="max-width: 500px;">
                        <div class="row g-0 text-center ">
                            <div class="col-md-3">
                                <img src="{{manga.image}}" class="img-fluid rounded-start" >
                            </div>
                            <div class="col-md-7">
                                <div class="card-body m-0">
                                    <h4 class="card-title">{{manga.title}}</h4>
                                    <h5 class="card-title">{{manga.author}}</h5>
                                    <h6 class="card-title">{{ manga.release_at|date("d/m/Y") }}</h6>
                                    <p id="manga_{{manga.id}}" class="card-text collapse">{{manga.description}}</p>
                                    <p><button class="btn button_pink" type="button" data-bs-toggle="collapse" data-bs-target="#manga_{{manga.id}}" aria-expanded="false" >Voir plus</button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
