{% extends 'layout.html.twig' %}

{% block stylesheet %} <link rel="stylesheet" href="/assets/css/show_mangas.css">{% endblock %}

{% block header %}
{% endblock %}
{% block content %}

    <div class="container mt-5 mb-5 ">
        <div class="text-center row" role="group" aria-label="Basic radio toggle ">
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn buton_pink" for="btnradio1"><a href="/showmangas"></a>ALL MANGAS</label>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <input type="radio" class="btn-check " name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn buton_pink" for="btnradio2"><a href="/showmangas"></a>SHONENS</label>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn buton_pink" for="btnradio3"><a href="/showmangas"></a>SHOJOS</label>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                <label class="btn buton_pink" for="btnradio4"><a href="/showmangas"></a>SEINENS</label>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                <label class="btn buton_pink" for="btnradio5"><a href="/showmangas"></a>JOSEIS</label>
            </div>
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-5">
                 <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                <label class="btn buton_pink" for="btnradio6"><a href="/showmangas"></a>KODOMOS</label>
            </div>
        </div>
    </div>

    {% for allManga in allMangas %}
    <div class="container ">
        <div class="row card mb-3 " style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="{{allManga.image}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-7">
                <div class="card-body">
                    <h4 class="card-title">{{allManga.title}}</h4>
                    <h5 class="card-title">{{allManga.author}}</h5>
                    <h6 class="card-title">{{allManga.date_release}}</h6>
                    <p id="manga{{allManga.id}}" class="card-text collapse">{{allManga.description}}</p>
                    <p>
                        <button class="btn buton_pink " type="button" data-bs-toggle="collapse" data-bs-target="#manga{{allManga.id}}" aria-expanded="false" aria-controls="{{allManga.id}}">
                        Voirs plus
                        </button>
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}